/*
    ESTILO PARA UNA PÁGINA DE FINANZAS
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/static/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #333;
    overflow-x: hidden;

}

body.no-background {
    background-image: none !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #555;
}

a,
a:hover,
a:focus {
    color: #007BFF;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* SIDEBAR STYLE */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    
}

#sidebar {
    min-width: 180px;
    max-width: 250px;
    background: #394867;
    color: #fff;
    transition: all 0.3s;
    height: 200vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: #fff;
}

#sidebar ul.components {
    padding: 0px 0;
    border-bottom: 1px solid #475877;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #007BFF;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #29354E;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #29354E;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #007BFF;
}

a.article,
a.article:hover {
    background: #29354E !important;
    color: #fff !important;
}

/* CONTENT STYLE */
#content {
    width: calc(100% - 15px);
    padding: 1px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 5px;
}

/* Encabezados */
h1, h2, h3 {
    font-family: 'League Gothic', sans-serif;
    color: #29354E;
    font-size: 60px;
    letter-spacing: 6px;
}

/* MEDIAQUERIES */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    table {
        display: block;
        white-space: nowrap;
    }

    th, td {
        white-space: nowrap;
    }
}

/* Estilos para Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    border:none;
    position: relative;
    table-layout: auto;
    
}

table, th, td {
    border: 1px solid #ddd;
    
}

th, td {
    padding: 10px;
    text-align: left;
    max-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    
}

th {
    background-color: rgb(21, 33, 100);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

tr:hover {
    background-color: rgb(207, 236, 239)
}

/* Estilos para Tablas Responsivas en Pantallas Pequeñas */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        white-space: nowrap;
        max-width: none; /* Eliminar el ancho máximo en pantallas pequeñas */
        padding: 5px; /* Reducir el padding para dispositivos más pequeños */
    }
}

/* Datepicker */
#datepicker {
    width: 80px;
    height: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    font-size: 12px;

}

/* Estilo adicional para el datepicker */
.ui-datepicker {
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ui-datepicker-calendar {
    width: 200px;
}

.ui-datepicker-title {
    font-size: 20px;
     font-family: 'Poppins', sans-serif;
}

/* Contenedor flex para el header del datepicker */
.ui-datepicker-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Estilo para el mes del datepicker */
.ui-datepicker-title {
    order: 2;
    width: 60%;
    text-align: center;
    font-size: 14px;
}

/* Estilo para el botón "prev" del datepicker */
.ui-datepicker-prev {
    order: -1;
    width: 20%;
    background-color: #3498db;
    border: 1px solid #2980b9;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

/* Estilo para el botón "next" del datepicker */
.ui-datepicker-next {
    order: 0;
    width: 20%;
    background-color: #3498db;
    border: 1px solid #2980b9;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}

/* Estilo adicional para los botones "prev" y "next" al pasar el ratón sobre ellos */
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-color: #143145;
}

/* Estilo para la fecha activa */
.ui-datepicker-calendar .ui-state-active {
    background-color: #ffffff;
    color: #2980b9;
    font-weight: bold;
    font-size: 15px;
}

/* Botones */
/* Estilo para el botón Obtener Rentabilidades */
.boton {
    background-color: royalblue;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 4px;
}

/* Cambio de color al pasar el ratón sobre el botón */
.boton:hover {
    background-color: #0056b3;

}

/* Estilo para los enlaces */
/* Estilo para el enlace específico con identificador */
#aunder {
    text-decoration: underline;
    cursor: pointer;
}

.contenedor {
    width: 85%;
    margin: 1px;
    height: 400px;
    overflow-x: 5px;
    overflow-y: auto;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

select{
    height: 30px;
}

label{
    height: 30px;
    width: 100px;
}

.form-table {
    border-collapse: collapse;
    width: 100%;
}

.form-table td {
    border: 1px solid transparent;
    padding: 8px;
}

.form-table td:first-child {
    width: 20%;
    text-align: left;
}

.form-table td:last-child {
    width: 80%;
    text-align: left;
}

.boton {
    margin-top: 10px;
}

.asidebar {
    color: #ddd;
}

/*ESTILO LOGO*/
#fondos-mutuos {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al contenedor */
    display: block; /* La imagen se mostrará como un bloque para gestionar el flujo del contenido */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
}

/*ESTILO SLIDE1*/
#slide1 {
    max-width: 50%; /* Ajusta el ancho máximo de la imagen al contenedor */
    display: block; /* La imagen se mostrará como un bloque para gestionar el flujo del contenido */
    margin: -15px auto; /* Margen superior e inferior de 20px, centrando la imagen horizontalmente */
    
}

.header {
    height: 100px; /* Altura deseada del encabezado */
    color: white; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el logo */
.logo {
    float: left; /* Coloca el logo hacia la izquierda */
}

.logo-img {
    width: 100px; /* Ajusta el ancho de la imagen */
    margin-right: 40px; /* Espacio entre el logo y el menú */
    margin-left: 100px;
}
/*header*/
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alineación horizontal usando Flexbox */
    text-align: right;
    
}

.menu li {
    margin-right: 20px; /* Espacio entre elementos del menú */
}

.menu li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.menu a {
    color: rgb(21, 33, 100); /* Color predeterminado de los enlaces */
    text-decoration: none;
    transition: color 0.3s; 
}

.menu a:hover {
    color: rgb(255, 255, 255);
    background-color: #29354E;
}
/*Estilo imagenes inicio derecha*/
.texto1 {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: space-between; /* Espacio entre los elementos */
}

/* Estilos para el texto */
.text {
    flex: 1; /* El texto ocupa el espacio restante */
    margin-right: 20px; /* Espacio entre el texto y la imagen */
    max-width: 1000px;
}

/* Estilos para la imagen */
.image-container img {
    flex: none; /* La imagen no ocupa espacio adicional */
    max-width: 700px; /* Ancho máximo permitido */
    height: 500px;
    margin-top: -250px;
}

/*Estilo imagenes inicio izquierda*/
.texto2 {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: space-between; /* Espacio entre los elementos */
    flex-direction: row-reverse; 
}

/* Estilos para el texto */
.text2 {
    flex: 1; /* El texto ocupa el espacio restante */
    margin-left: 20px; /* Espacio entre el texto y la imagen */
    max-width: 1000px;
}

/* Estilos para la imagen */
.image-container2 img {
    flex: none; /* La imagen no ocupa espacio adicional */
    max-width: 700px; /* Ancho máximo permitido */
    height: 500px;
    margin-top: -350px;
}

/*centrar elementos*/
.center-elements{
    text-align: center;
}

/*serie*/
.serie{
    width: 95%;
    margin: 1px;
    height: 400px;
    overflow-x: 5px;
    overflow-y: 1px;
}

/*detalle*/
.detalle{
    width: 96%;
    margin: 1px;
    height: 400px;
    overflow-x: auto;
    table-layout: auto;

}

.detalle th:nth-child(2), /* Cambia el número según la posición de la columna */
.detalle td:nth-child(10) {
    min-width: 100px; /* Establece un ancho mínimo para la columna de fechas */
}