{% extends 'layout.html' %}

{% block content %}
    <h1 style="text-align: center;">INFORMACIÓN</h1>
    <form id="myForm" method="post">
        <div class="detalle" style="margin: 0 auto; width: 80%;">
            <h1  style="text-align: center;">DETALLE DEL FONDO</h1>
            {{ table_data|safe }}
            <br>
        </div>
        <div class="serie" style="margin: 0 auto; width: 80%;" >
            <h1  style="text-align: center;">SERIES</h1>
            {{ table_series|safe }}
        </div>
    </form>
        <script>
            function submitForm() {
                var form = document.getElementById('myForm');
                form.action = '/portafolios';
                form.submit();
            }
        </script>
{% endblock %}