<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fondos ECOSARC</title>
    <link rel="stylesheet" href="styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            {% block header %}
        <div class="logo">
            <img src="/static/img/fondos mutuos.png" alt="Logo" class="logo-img">
        </div>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('fondos_mutuos') }}">Sobre Fondos Mutuos</a></li>
                        <li><a href="{{ url_for('rentabilidades') }}">Rentabilidades Fondos Mutuos</a></li>
                        <li><a href="{{ url_for('portafolios') }}">Portafolio Fondos Mutuos</a></li>
                        
                    </ul>
                </nav>
            {% endblock %}
        </div>
    </header>
       
        </div>
    </header>
    <div class="wrapper">
        
    
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
